src/main/app/mule-sfdc-streaming-to-soapClient.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd 
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd 
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd 
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/1.0/mule-cloudhub.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <sfdc:config name="Salesforce_Config" username="${sfdc.user.name}" password="${sfdc.user.pwd}" securityToken="${sfdc.user.token}" doc:name="Salesforce"/>
    <data-mapper:config name="TransformMessage" transformationGraphPath="transformmessage.grf" doc:name="DataMapper"/>
    <cloudhub:config name="Cloudhub" url="https://cloudhub.io/ " username="${ch.user.name}${ch.user.pwd}" password="${ch.user.pwd}" doc:name="Cloudhub"/>
    <flow name="mule-sfdc-streaming-to-soapClientFlow" doc:name="mule-sfdc-streaming-to-soapClientFlow">
        <sfdc:subscribe-topic config-ref="Salesforce_Config" topic="/BasicAccountUpdates" doc:name="Salesforce (Streaming)"/>
        <logger message="SFDC acount update (Id = #[payload['Id']]) received" level="INFO" doc:name="Account update received"/>
        <tracking:custom-event event-name="SFDC account update" doc:name="Account Update event">
            <tracking:meta-data key="Account Name" value="#[map-payload:Name]"/>
            <tracking:meta-data key="Account Id" value="#[map-payload:Id]"/>
        </tracking:custom-event>
        <data-mapper:transform config-ref="TransformMessage" doc:name="DataMapper"/>
        <set-payload value="#[map-payload:Name_Id]" doc:name="Set Payload"/>
        <cxf:jaxws-client operation="updateAccount" serviceClass="com.mulesoft.examples.SimpleAccountUpdateService" doc:name="SOAP Client Request"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="accountUpdate" doc:name="SimpleAccountUpdateRequest"/>
        <tracking:transaction id="#[map-payload:Id]"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="An exception has occurred while processing SFDC account Id= #[map-payload:Id]" level="ERROR" doc:name="Log Exception"/>
            <cloudhub:create-notification config-ref="Cloudhub" message="An exception has occurred while processing a message" priority="ERROR" doc:name="Cloudhub exception notification">
                <cloudhub:custom-properties ref="#[payload]"/>
            </cloudhub:create-notification>
        </catch-exception-strategy>
    </flow>
    <flow name="mule-simple-soap-serviceFlow" doc:name="mule-simple-soap-serviceFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="accountUpdate" doc:name="HTTP"/>
        <cxf:jaxws-service serviceClass="com.mulesoft.examples.SimpleAccountUpdateService" doc:name="SOAP Service Interface"/>
        <component class="com.mulesoft.examples.SimpleAccountUpdateServiceSOAPImpl" doc:name="AccountUpdateSOAPImpl"/>
        <logger message="#[message.payload], processing complete" level="INFO" doc:name="Account update processed"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="An exception has occurred while processing SFDC account Id= #[map-payload:Id]" level="ERROR" doc:name="Log Exception"/>
            <cloudhub:create-notification config-ref="Cloudhub" message="An exception has occurred while processing a message" priority="ERROR" doc:name="Cloudhub exception notification">
                <cloudhub:custom-properties ref="#[payload]"/>
            </cloudhub:create-notification>
        </catch-exception-strategy>
    </flow>
</mule>
